nav {
  padding: 0%;
}
#header {
  background-color: #0747a6;
  width: 100%;
  padding: 15px 10px;
}
#header h2,p{
    color:white;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#Home-button {
  display: inline;
  float: right;
  margin-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

#page-header-title {
    display: inline;
}
